{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать на наш сайт</h1>
<div class="alert alert-secondary">
    <p>
        Этот сайт предназначен для любителей математики, которым нравится решать, а главное, придумывать задачи и не
        только
        по вечерам и не только в Вконтакте.
    </p>
    <p>
        Здесь любой может размещать свои задачи (и не свои, желательно с указанием
        источника), писать к ним решения и комментарии. Также можно публиковать заметки - интересные мысли, которые
        вроде бы
        и не задачи, но заслуживают публикации.
    </p>
    <p>
        Публикуя задачу, вы получаете обратную связь - мнение других о ней, а также
        не авторские решения. Другие пользователи могут признать вашу задачу или решение верными или
        неверными(желательно
        обосновать это комментариями).
    </p>
    <p>
        На сайте существует хитрая система подсчёта рейтинга. Поэтому вы будете видеть не случайные публикации - задачи
        и
        заметки, обладающие высоким рейтингом, или те, на авторов которых вы подписаны, будут встречаться чаще.
    </p>
</div>
{% endblock %}