{% extends "base.html" %}

{% block content %}
<div class="alert alert-secondary">
    <h1>{{ post.title }}</h1>
    <hr>
    {% for image_id in post.image_ids %}
    {% set location = "/static/user_images/"+image_id %}
    <img src={{ location }} height="400">
    {% endfor %}
    <hr>
    {{ post.content }}
    <hr>
    <a class="badge bg-light" style="margin-left:20px" href={{ post.user.profile_href() }}><font size="3" color="blue">
        {% if post.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
        {% endif %}
        {% if post.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
        {% endif %}
        {{ post.user.name }}
        {% if post.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
        преподаватель
        {% endif %}
        {% if post.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
        {% endif %}
    </font></a>
</div>
{% if viewer==post.user %}
{% set edit_href = "/edit_post/"+post.id|string %}
{% set delete_href = "/delete_post/"+post.id|string %}
<a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
{% if not post.comments %}
<a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
{% endif %}
{% else %}
{% set likehref = "/liked/"+viewer.id|string+"/post/"+post.id|string %}
{% set btnid = "#postbtn" %}
{% set imgid = "#postlikeimg" %}
<div class="alert alert-light">
    {{ post.rank }}
    {% if post.liked_by and viewer.id in post.liked_by %}
    <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
    </button>
    <script>
        var btn1 = document.getElementById( "{{ btnid }}" );
        btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
    </script>
    {% else %}
    <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
    </button>
    <script>
        var btn1 = document.getElementById( "{{ btnid }}" );
        btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
    </script>
    {% endif %}
</div>
{% endif %}
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
            aria-expanded="false" aria-controls="collapse1">
        {{ form.content.label }}
    </button>
</p>
<div class="collapse" id="collapse1">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>{{ form.submit(type="submit", class="btn btn-primary") }}{{
            form.content(class="form-control") }}
            <p>{{ form.images.label }} {{ form.images(class="btn btn-secondary") }}</p>
        </div>
        {% for error in form.content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>

        {% endfor %}
    </form>
</div>

{% if post.comments %}
<div class="alert alert-secondary">Комментарии:
    <hr>
    {% for counter in range(post.comments|length) %}
    {% set comment = post.comments[counter] %}
    <div class="alert alert-secondary" style="margin-left:20px">
        <a class="badge bg-light" style="margin-left:20px" href={{ comment.user.profile_href() }}><font size="3"
                                                                                                        color="blue">
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
            {% endif %}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
            {% endif %}
            {{ comment.user.name }}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
            преподаватель
            {% endif %}
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
            {% endif %}
        </font></a><br>
        {% for image_id in comment.image_ids %}
        {% set location = "/static/user_images/"+image_id %}
        <img src={{ location }} height="200">
        {% endfor %}
        {{ comment.content }}
        <hr>
        {% if viewer==comment.user %}
        {% set edit_href = "/edit_comment/"+comment.id|string+"/post/"+post.id|string+"/post/"+post.id|string %}
        {% set delete_href = "/delete_comment/"+comment.id|string+"/post/"+post.id|string+"/post/"+post.id|string %}
        <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
        <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
        {% else %}
        {% set likehref = "/liked/"+viewer.id|string+"/comment/"+comment.id|string %}
        {% set btnid = "#combtn"+counter|string %}
        {% set imgid = "#comlikeimg"+counter|string %}
        {% if comment.liked_by and viewer.id in comment.liked_by %}
        <div class="alert alert-light">
            {{ comment.rank }}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
            </button>
            <script>
                var btn1 = document.getElementById( "{{ btnid }}" );
                btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% else %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
            </button>
            <script>
                var btn1 = document.getElementById( "{{ btnid }}" );
                btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% endif %}
        </div>
        {% endif %}
    </div>

    {% set counter=counter+1 %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}