{% if message %}
<div class="alert alert-danger">{{ message }}</div>
{% endif %}

{% include "post_short.html" %}
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
            aria-expanded="false" aria-controls="collapse1">
        {{ form.content.label }}
    </button>
</p>
<div class="collapse" id="collapse1">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>{{ form.submit(type="submit", class="btn btn-primary") }}{{
            form.content(class="form-control") }}
        </div>
        {% for error in form.content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>{{ form.latex(class="btn btn-secondary") }}</p>
        <p>К сожалению, сейчас файлы можно прикреплять только, при редактировании.</p>
    </form>
</div>

{% if post.comments %}
<div class="alert alert-dark"><font size="4"><b>Комментарии:</b></font>
    <hr>
    {% for counter in range(post.comments|length) %}
    {% set comment = post.comments[counter] %}
    {% include "comment.html" %}
    {% set counter=counter+1 %}
    {% endfor %}
</div>
{% endif %}