<h1>Задача</h1>
{% set problem_class = "alert alert-secondary" %}
{% if problem.is_false or problem.author_thinks_false  %}
{% set problem_class = "alert alert-danger" %}
{% elif problem.is_true %}
{% set problem_class = "alert alert-success" %}
{% endif %}
<div class="{{ problem_class }}">Условие задачи:<br>
    <hr>
    {% for users_file in problem.files %}
    {% if users_file.extension == ".pdf" %}
    <embed src="/static/{self.id}{self.extension}" width="100%" height="800"/>
    {% else %}
    {{ users_file|safe }}
    {% endif %}
    {% endfor %}
    <hr>
    {% if problem.content is not none %}
    {{ good_show(problem.content)|safe }}
    {% endif %}
    {% if problem.pdf_name is not none %}
    <embed src="/{{ problem.pdf_name }}" width="100%" height="800"/>
    {% endif %}
    <hr>
    Опубликовано пользователем:
    {% with show_user=problem.user %}
    {% include "user_nickname.html" %}
    {% endwith %}
    <div>Рейтинг: {{problem.get_rank()}}</div>
    {% if viewer==problem.user %}
    {% if not problem.author_thinks_false %}
    {% set edit_href = "/edit_problem/"+problem.id|string %}
    {% set delete_href = "/delete_problem/"+problem.id|string %}
    <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
    {% if not problem.comments and not problem.solutions %}
    <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
    {% endif %}
    {% endif %}
    {% if not problem.author_thinks_false and not problem.is_false and not problem.notauthor %}
    <p>
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#problemfalseauthor"
                aria-expanded="false" aria-controls="problemfalseauthor">
            Признать задачу неверной
        </button>
    </p>
    <div class="collapse" id="problemfalseauthor">
        Если вы признаете задачу неверной, то больше не сможете редактировать её и получите штраф к рейтингу!<br>
        {% set author_problem_false_href = "/author_false/problem/"+problem.id|string %}
        <a class="btn btn-danger" href={{ author_problem_false_href }}>Признать неверной</a>
    </div>
    {% endif %}
    {% else %}
    {% if not problem.author_thinks_false and not problem.notauthor %}
    <div>
        {% set false_href = "/isfalse/problem/"+problem.id|string+"/"+viewer.id|string %}
        {% set false_problem_btn_id = "falseproblembtn" %}
        {% set true_href = "/istrue/problem/"+problem.id|string+"/"+viewer.id|string %}
        {% set true_problem_btn_id = "trueproblembtn" %}
        {% if viewer.id not in problem.think_is_false %}
        <button id={{ false_problem_btn_id }} class="btn btn-outline-danger">Неверно</button>
        {% else %}
        <button id={{ false_problem_btn_id }} class="btn btn-danger">Неверно</button>
        {% endif %}
        <script>
        var btn = document.getElementById("{{ false_problem_btn_id }}");
        btn.onclick = function(){ makeFalse("{{false_problem_btn_id}}", "{{true_problem_btn_id}}", "{{false_href}}"); };
        </script>
        {% if viewer.id not in problem.think_is_true %}
        <button id={{ true_problem_btn_id }} class="btn btn-outline-success">Верно</button>
        {% else %}
        <button id={{ true_problem_btn_id }} class="btn btn-success">Верно</button>
        {% endif %}
        <script>
        var btn = document.getElementById("{{ true_problem_btn_id }}");
        btn.onclick = function(){ makeTrue("{{false_problem_btn_id}}", "{{true_problem_btn_id}}", "{{true_href}}"); };
        </script>
    </div>
    {% endif %}
    <div>
        {% set likehref = "/liked/"+viewer.id|string+"/problem/"+problem.id|string %}
        {% set btnid = "#problembtn" %}
        {% set imgid = "#problemlikeimg" %}
        {% if problem.liked_by and viewer.id in problem.liked_by %}
        <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
        </button>
        <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
        </script>
        {% else %}
        <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
        </button>
        <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
        </script>
        {% endif %}
    </div>

    {% set problem_href = "/problem/"+problem.id|string %}
    {% set toread_href = "/addtoread/"+viewer.id|string+"/problem/"+problem.id|string %}
    {% set toreadbtnid = "toreadbtn"+counter|string %}
    <div class="alert alert-light">
        {% if viewer.toread and ("problem "+problem.id|string) in viewer.toread %}
            <button id={{ toreadbtnid }} class="btn btn-secondary">Отложить к прочтению</button>
            <script>
                btn = document.getElementById("{{toreadbtnid}}");
                btn.onclick = function(){ toread("{{ toreadbtnid }}", "{{ toread_href }}"); };
            </script>
        {% else %}
            <button id={{ toreadbtnid }} class="btn btn-outline-secondary">Отложить к прочтению</button>
            <script>
                btn = document.getElementById("{{toreadbtnid}}");
                btn.onclick = function(){ toread("{{ toreadbtnid }}", "{{ toread_href }}"); };
            </script>
        {% endif %}
    </div>

    {% endif %}
</div>
