{% extends "base.html" %}

{% block content %}
<h1>Добавление задачи</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.theme(class="btn btn-secondary") }}</p>
    <p>{{ form.latex(class="btn btn-secondary") }}</p>
    <p>{{ form.notauthor() }}{{ form.notauthor.label }}</p>
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                aria-expanded="false" aria-controls="collapse1">
            Прикрепите решение, если оно у вас есть
        </button>
    </p>
    <p class="collapse" id="collapse1">
        {{ form.original_solution.label }}<br>
        {{ form.original_solution(class="form-control") }}<br>
        {% for error in form.content.errors %}
        <p content="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </p>
    <p>К сожалению, сейчас файлы можно прикреплять только, при редактировании.</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% if message %}
    <div class="btn btn-danger ">{{ message }}</div>
    {% endif %}
</form>
{% endblock %}