{% extends "base.html" %}

{% block content %}
<script>
    function makeFalse(false_id, true_id, link_to_go) {
        if (document.getElementById(false_id).className=="btn btn-outline-danger") {
            document.getElementById(false_id).className="btn btn-danger";
            document.getElementById(true_id).className="btn btn-outline-success";
        } else {
            document.getElementById(false_id).className="btn btn-outline-danger";
        }
        window.open(link_to_go);
    }

    function makeTrue(false_id, true_id, link_to_go) {
        if (document.getElementById(true_id).className=="btn btn-outline-success") {
            document.getElementById(true_id).className="btn btn-success";
            document.getElementById(false_id).className="btn btn-outline-danger";
        } else {
            document.getElementById(true_id).className="btn btn-outline-success";
        }
        window.open(link_to_go);
    }
</script>
<h1>Задача</h1>
{% set problem_class = "alert alert-secondary" %}
{% if problem.is_false or problem.author_thinks_false  %}
{% set problem_class = "alert alert-danger" %}
{% elif problem.is_true %}
{% set problem_class = "alert alert-success" %}
{% endif %}
<div class="{{ problem_class }}">Условие задачи:<br>
    <hr>
    {% for users_file in problem.files %}
    {{ users_file|safe }}
    {% endfor %}
    <hr>
    {{ with_cats_show(problem.content)|safe }}
    <hr>
    Опубликовано пользователем:
    <a class="badge bg-light" style="margin-left:20px" href={{ problem.user.profile_href() }}><font size="3"
                                                                                                    color="blue">
        {% if problem.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
        {% endif %}
        {% if problem.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
        {% endif %}
        {{ problem.user.name }}
        {% if problem.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
        преподаватель
        {% endif %}
        {% if problem.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
        {% endif %}
    </font></a>

<div>Рейтинг: {{problem.rank}}</div>
{% if viewer==problem.user %}
{% if not problem.author_thinks_false %}
{% set edit_href = "/edit_problem/"+problem.id|string %}
{% set delete_href = "/delete_problem/"+problem.id|string %}
<a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
{% if not problem.comments and not problem.solutions %}
<a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
{% endif %}
{% endif %}

{% if not problem.author_thinks_false and not problem.is_false and not problem.notauthor %}
<p>
    <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#problemfalseauthor"
            aria-expanded="false" aria-controls="problemfalseauthor">
        Признать задачу неверной
    </button>
</p>
<div class="collapse" id="problemfalseauthor">
    Если вы признаете задачу неверной, то больше не сможете редактировать её и получите штраф к рейтингу!<br>
    {% set author_problem_false_href = "/author_false/problem/"+problem.id|string %}
    <a class="btn btn-danger" href={{ author_problem_false_href }}>Признать неверной</a>
</div>
{% endif %}

{% else %}
{% if not problem.author_thinks_false and not problem.notauthor %}
<div>
    {% set false_href = "/isfalse/problem/"+problem.id|string+"/"+viewer.id|string %}
    {% set false_problem_btn_id = "falseproblembtn" %}

    {% set true_href = "/istrue/problem/"+problem.id|string+"/"+viewer.id|string %}
    {% set true_problem_btn_id = "trueproblembtn" %}


    {% if viewer.id not in problem.think_is_false %}
    <button id={{ false_problem_btn_id }} class="btn btn-outline-danger">Неверно</button>
    {% else %}
    <button id={{ false_problem_btn_id }} class="btn btn-danger">Неверно</button>
    {% endif %}

    <script>
        var btn = document.getElementById("{{ false_problem_btn_id }}");
        btn.onclick = function(){ makeFalse("{{false_problem_btn_id}}", "{{true_problem_btn_id}}", "{{false_href}}"); };
    </script>

    {% if viewer.id not in problem.think_is_true %}
    <button id={{ true_problem_btn_id }} class="btn btn-outline-success">Верно</button>
    {% else %}
    <button id={{ true_problem_btn_id }} class="btn btn-success">Верно</button>
    {% endif %}

    <script>
        var btn = document.getElementById("{{ true_problem_btn_id }}");
        btn.onclick = function(){ makeTrue("{{false_problem_btn_id}}", "{{true_problem_btn_id}}", "{{true_href}}"); };
    </script>
</div>
{% endif %}
<div>
    {% set likehref = "/liked/"+viewer.id|string+"/problem/"+problem.id|string %}
    {% set btnid = "#problembtn" %}
    {% set imgid = "#problemlikeimg" %}
    <div class="alert alert-light">
        {% if problem.liked_by and viewer.id in problem.liked_by %}
        <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
        </button>
        <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
        </script>
        {% else %}
        <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
        </button>
        <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
        </script>
        {% endif %}
    </div>
</div>
{% endif %}
</div>

<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
            aria-expanded="false" aria-controls="collapse1">
        {{ solform.content.label }}
    </button>
</p>
<div class="collapse" id="collapse1">
    <form action="" method="post" enctype="multipart/form-data">
        {{ solform.hidden_tag() }}
        <div>{{ solform.submit(type="submit", class="btn btn-primary")
            }}{{ solform.content(class="form-control") }}
        </div>
        {% for error in solform.content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>К сожалению, сейчас файлы можно прикреплять только, при редактировании.</p>
    </form>
</div>
{% if problem.solutions %} <font size="4"><b>Решения:</b></font>

{% for counter in range(problem.solutions|length) %}
{% set i = counter %}
{% set solution = problem.solutions[counter] %}
{% set solution_class = "alert alert-secondary" %}
{% if solution.is_false or solution.author_thinks_false %}
{% set solution_class = "alert alert-danger" %}
{% elif solution.is_true %}
{% set solution_class = "alert alert-success" %}
{% endif %}
<div class="alert alert-dark">
<div class="{{ solution_class }}">
    <a class="badge bg-light" style="margin-left:20px" href={{ solution.user.profile_href() }}><font size="3"
                                                                                                     color="blue">
        {% if solution.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
        {% endif %}
        {% if solution.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
        {% endif %}
        {{ solution.user.name }}
        {% if solution.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
        преподаватель
        {% endif %}
        {% if solution.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
        {% endif %}
    </font></a><br>
    {% for users_file in solution.files %}
    {{ users_file|safe }}
    {% endfor %}
    {{ with_cats_show(solution.content)|safe }}
    <hr>
    <div>Рейтинг: {{solution.rank}}</div>
    {% if viewer==solution.user and not solution.author_thinks_false %}
    {% set edit_href = "/edit_solution/"+solution.id|string+"/"+problem.id|string %}
    {% set delete_href = "/delete_solution/"+solution.id|string+"/"+problem.id|string %}
    <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
    {% if not solution.comments %}
    <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
    {% endif %}

    {% if not solution.author_thinks_false and not solution.is_false %}
    {% set collapse_solbtn_id = "solutionfalseauthor"+counter|string %}
    {% set collapse_solbtn_id2 = "#"+collapse_solbtn_id %}
    <p>
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target={{ collapse_solbtn_id2 }}
                aria-expanded="false" aria-controls={{ collapse_solbtn_id }}>
            Признать решение неверным
        </button>
    </p>
    <div class="collapse" id={{ collapse_solbtn_id }}>
        Если вы признаете решение неверным, то больше не сможете редактировать его и получите штраф к рейтингу!<br>
        {% set author_solution_false_href = "/author_false/solution/"+solution.id|string %}
        <a class="btn btn-danger" href={{ author_solution_false_href }}>Признать неверным</a>
    </div>

    {% endif %}

    {% else %}
    {% if not solution.author_thinks_false %}
    <div>
        {% set false_href = "/isfalse/solution/"+solution.id|string+"/"+viewer.id|string %}
        {% set false_solution_btn_id = "falsesolutionbtn"+counter|string %}

        {% set true_href = "/istrue/solution/"+solution.id|string+"/"+viewer.id|string %}
        {% set true_solution_btn_id = "truesolutionbtn"+counter|string %}


        {% if viewer.id not in solution.think_is_false %}
        <button id={{ false_solution_btn_id }} class="btn btn-outline-danger">Неверно</button>
        {% else %}
        <button id={{ false_solution_btn_id }} class="btn btn-danger">Неверно</button>
        {% endif %}

        <script>
            var btn = document.getElementById("{{ false_solution_btn_id }}");
            btn.onclick = function(){ makeFalse("{{false_solution_btn_id}}", "{{true_solution_btn_id}}", "{{false_href}}"); };
        </script>

        {% if viewer.id not in solution.think_is_true %}
        <button id={{ true_solution_btn_id }} class="btn btn-outline-success">Верно</button>
        {% else %}
        <button id={{ true_solution_btn_id }} class="btn btn-success">Верно</button>
        {% endif %}

        <script>
            var btn = document.getElementById("{{ true_solution_btn_id }}");
            btn.onclick = function(){ makeTrue("{{false_solution_btn_id}}", "{{true_solution_btn_id}}", "{{true_href}}"); };
        </script>
    </div>
    {% endif %}
    <div>
        {% set likehref = "/liked/"+viewer.id|string+"/solution/"+solution.id|string %}
        {% set btnid = "#problemsolbtn" + counter|string %}
        {% set imgid = "#problemsollikeimg" + counter|string %}
        <div class="alert alert-light">
            {% if solution.liked_by and viewer.id in solution.liked_by %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
            </button>
            <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };

            </script>
            {% else %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
            </button>
            <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };

            </script>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% set comformid = "comform"+i|string %}
    {% set comformidph = "#"+comformid %}
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target={{ comformidph }}
                aria-expanded="false" aria-controls={{ comformid }}>
            {{ comment_forms[i].content.label }}
        </button>
    </p>
    <div class="collapse" id={{ comformid }}>
        <form action="" method="post" enctype="multipart/form-data">
            {{ comment_forms[i].hidden_tag() }}
            <div>{{ comment_forms[i].submit(type="submit", class="btn btn-primary")
                }}{{ comment_forms[i].content(class="form-control") }}
            </div>
            {% for error in comment_forms[i].content.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            <p>К сожалению, сейчас файлы можно прикреплять только, при редактировании.</p>
        </form>
    </div>

    <hr>
    {% if solution.comments %}
    <div class="alert alert-dark">
    {% for counter2 in range(solution.comments|length) %}
    {% set comment = solution.comments[counter2] %}
    <div class="alert alert-secondary" style="margin-left:20px">
        <a class="badge bg-light" style="margin-left:20px" href={{ comment.user.profile_href() }}><font size="3"
                                                                                                        color="blue">
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
            {% endif %}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
            {% endif %}
            {{ comment.user.name }}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
            преподаватель
            {% endif %}
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
            {% endif %}
        </font></a><br>
        {% for users_file in comment.files %}
        {{ users_file|safe }}
        {% endfor %}
        {{ with_cats_show(comment.content)|safe }}
        <hr>
        <div>Рейтинг: {{comment.rank}}</div>
        {% if viewer==comment.user %}
        {% set edit_href =
        "/edit_comment/"+comment.id|string+"/problem/"+problem.id|string+"/solution/"+solution.id|string
        %}
        {% set delete_href =
        "/delete_comment/"+comment.id|string+"/problem/"+problem.id|string+"/solution/"+solution.id|string %}
        <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
        <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
        {% else %}
        {% set likehref = "/liked/"+viewer.id|string+"/comment/"+comment.id|string %}
        {% set btnid = "#commentsolbtn" + counter2|string %}
        {% set imgid = "#commentsollikeimg" + counter2|string %}
        <div class="alert alert-light">
            {% if comment.liked_by and viewer.id in comment.liked_by %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
            </button>
            <script>
                var btn1 = document.getElementById( "{{ btnid }}" );
                btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% else %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
            </button>
            <script>
                var btn1 = document.getElementById( "{{ btnid }}" );
                btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
</div>
{% endfor %}
{% else %}
<div class="alert alert-danger">Внимание, у этой задачи пока нет решения. Тот, кто первым напишет решение, получит
    половину рейтинга от этой задачи.
</div>
{% endif %}
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
            aria-expanded="false" aria-controls="collapse2">
        {{ form.content.label }}
    </button>
</p>
<div class="collapse" id="collapse2">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>{{ form.submit(type="submit", class="btn btn-primary") }}{{
            form.content(class="form-control") }}
        </div>
        {% for error in form.content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>К сожалению, сейчас файлы можно прикреплять только, при редактировании.</p>
    </form>
</div>
{% if problem.comments %}
<div class="alert alert-secondary"><font size="4"><b>Комментарии:</b></font>
    <hr>
    {% for counter3 in range(problem.comments|length) %}
    {% set comment = problem.comments[counter3] %}
    <div class="alert alert-secondary" style="margin-left:20px">
        <a class="badge bg-light" style="margin-left:20px" href={{ comment.user.profile_href() }}><font size="3"
                                                                                                        color="blue">
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
            {% endif %}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
            {% endif %}
            {{ comment.user.name }}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
            преподаватель
            {% endif %}
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
            {% endif %}
        </font></a><br>
        {% for users_file in comment.files %}
        {{ users_file|safe }}
        {% endfor %}
        {{ with_cats_show(comment.content)|safe }}
        <hr>
        <div>Рейтинг: {{comment.rank}}</div>
        {% if viewer==comment.user %}
        {% set edit_href =
        "/edit_comment/"+comment.id|string+"/problem/"+problem.id|string+"/problem/"+problem.id|string %}
        {% set delete_href =
        "/delete_comment/"+comment.id|string+"/problem/"+problem.id|string+"/problem/"+problem.id|string %}
        <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
        <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
        {% else %}
        {% set likehref = "/liked/"+viewer.id|string+"/comment/"+comment.id|string %}
        {% set btnid = "#commentprbtn" + counter3|string %}
        {% set imgid = "#commentprlikeimg" + counter3|string %}
        <div class="alert alert-light">
            {% if comment.liked_by and viewer.id in comment.liked_by %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
            </button>
            <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% else %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
            </button>
            <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}