{% extends "base.html" %}

{% block content %}
<h1>Задача</h1>
<div class="alert alert-secondary">Условие задачи:<br>
    <hr>
    {% for image_id in problem.image_ids %}
    {% set location = "/static/user_images/"+image_id %}
    <img src={{ location }} height="400">
    {% endfor %}
    <hr>
    {{ problem.content }}
    <hr>
    Автор задачи:
    <a class="badge bg-light" style="margin-left:20px" href={{ problem.user.profile_href() }}><font size="3"
                                                                                                    color="blue">
        {% if problem.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
        {% endif %}
        {% if problem.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
        {% endif %}
        {{ problem.user.name }}
        {% if problem.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
        преподаватель
        {% endif %}
        {% if problem.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
        {% endif %}
    </font></a>
</div>
{% if viewer==problem.user %}
{% set edit_href = "/edit_problem/"+problem.id|string %}
{% set delete_href = "/delete_problem/"+problem.id|string %}
<a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
{% if not problem.comments and not problem.solutions %}
<a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
{% endif %}
{% endif %}
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
            aria-expanded="false" aria-controls="collapse1">
        {{ solform.content.label }}
    </button>
</p>
<div class="collapse" id="collapse1">
    <form action="" method="post" enctype="multipart/form-data">
        {{ solform.hidden_tag() }}
        <div>{{ solform.submit(type="submit", class="btn btn-primary")
            }}{{ solform.content(class="form-control") }}
            <p>{{ solform.images.label }} {{ solform.images(class="btn btn-secondary") }}</p>
        </div>
        {% for error in solform.content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </form>
</div>

{% if problem.solutions %} Решения:
{% for i in range(problem.solutions|length) %}
{% set solution = problem.solutions[i] %}
<div class="alert alert-secondary">
    <a class="badge bg-light" style="margin-left:20px" href={{ solution.user.profile_href() }}><font size="3"
                                                                                                     color="blue">
        {% if solution.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
        {% endif %}
        {% if solution.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
        {% endif %}
        {{ solution.user.name }}
        {% if solution.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
        преподаватель
        {% endif %}
        {% if solution.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
        {% endif %}
    </font></a><br>
    {% for image_id in solution.image_ids %}
    {% set location = "/static/user_images/"+image_id %}
    <img src={{ location }} height="400">
    {% endfor %}
    {{ solution.content }}
    <hr>
    {% if viewer==solution.user %}
    {% set edit_href = "/edit_solution/"+solution.id|string+"/"+problem.id|string %}
    {% set delete_href = "/delete_solution/"+solution.id|string+"/"+problem.id|string %}
    <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
    {% if not solution.comments %}
    <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
    {% endif %}
    {% endif %}
    {% set comformid = "comform"+i|string %}
    {% set comformidph = "#"+comformid %}
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target={{ comformidph }}
                aria-expanded="false" aria-controls={{ comformid }}>
            {{ comment_forms[i].content.label }}
        </button>
    </p>
    <div class="collapse" id={{ comformid }}>
        <form action="" method="post" enctype="multipart/form-data">
            {{ comment_forms[i].hidden_tag() }}
            <div>{{ comment_forms[i].submit(type="submit", class="btn btn-primary")
                }}{{ comment_forms[i].content(class="form-control") }}
                <p>{{ comment_forms[i].images.label }} {{ comment_forms[i].images(class="btn btn-secondary") }}</p>
            </div>
            {% for error in comment_forms[i].content.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </form>
    </div>

    <hr>
    {% if solution.comments %}
    {% for comment in solution.comments %}
    <div class="alert alert-secondary" style="margin-left:20px">
        <a class="badge bg-light" style="margin-left:20px" href={{ comment.user.profile_href() }}><font size="3"
                                                                                                        color="blue">
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
            {% endif %}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
            {% endif %}
            {{ comment.user.name }}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
            преподаватель
            {% endif %}
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
            {% endif %}
        </font></a><br>
        {% for image_id in comment.image_ids %}
        {% set location = "/static/user_images/"+image_id %}
        <img src={{ location }} height="400">
        {% endfor %}
        {{ comment.content }}
    </div>
    {% if viewer==comment.user %}
    {% set edit_href = "/edit_comment/"+comment.id|string+"/problem/"+problem.id|string+"/solution/"+solution.id|string
    %}
    {% set delete_href =
    "/delete_comment/"+comment.id|string+"/problem/"+problem.id|string+"/solution/"+solution.id|string %}
    <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
    <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endfor %}
{% else %}
<div class="alert alert-danger">Внимание, у этой задачи пока нет решения. Тот, кто первым напишет решение, получит
    половину рейтинга от этой задачи.
</div>
{% endif %}
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
            aria-expanded="false" aria-controls="collapse2">
        {{ form.content.label }}
    </button>
</p>
<div class="collapse" id="collapse2">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>{{ form.submit(type="submit", class="btn btn-primary") }}{{
            form.content(class="form-control") }}
            <p>{{ form.images.label }} {{ form.images(class="btn btn-secondary") }}</p>
        </div>
        {% for error in form.content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </form>
</div>
{% if problem.comments %}
<div class="alert alert-secondary">Комментарии:
    <hr>
    {% for comment in problem.comments %}
    <div class="alert alert-secondary" style="margin-left:20px">
        <a class="badge bg-light" style="margin-left:20px" href={{ comment.user.profile_href() }}><font size="3"
                                                                                                        color="blue">
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
            {% endif %}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
            {% endif %}
            {{ comment.user.name }}
            {% if comment.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
            преподаватель
            {% endif %}
            {% if comment.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
            {% endif %}
        </font></a><br>
        {% for image_id in comment.image_ids %}
        {% set location = "/static/user_images/"+image_id %}
        <img src={{ location }} height="400">
        {% endfor %}
        {{ comment.content }}
    </div>
    {% if viewer==comment.user %}
    {% set edit_href = "/edit_comment/"+comment.id|string+"/problem/"+problem.id|string+"/problem/"+problem.id|string %}
    {% set delete_href =
    "/delete_comment/"+comment.id|string+"/problem/"+problem.id|string+"/problem/"+problem.id|string %}
    <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
    <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}