{% extends "base.html" %}

{% block content %}
<h1>Редактирование задачи</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.images.label }} {{ form.images(class="btn btn-secondary") }}</p>
    <p>{{ form.delete_old_images() }} {{ form.delete_old_images.label }}</p>
    <p>{{ form.theme(class="btn btn-secondary") }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}