{% extends "base.html" %}

{% block content %}
<div class="alert alert-secondary"><font size="5">
    {% if user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
    {% endif %}
    {% if user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
    {% endif %}
    {{ user.name }}
    {% if user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">, преподаватель
    {% endif %}
    {% if user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
    {% endif %}
    {% if viewer.id==user.id and user.status=="участник" %}, участник
    {% endif %}
    {% if viewer.id==user.id and user.status=="админ" %}, администратор
    {% endif %}
    <hr>
    Адрес электронной почты: {{ user.email }}
</font></div>
{% if user.about %}
<div class="alert alert-secondary">Информация о себе <br> {{ user.about }}</div>
{% endif %}
{% if viewer.id==user.id %}
Сгенерировать код доступа для других участников<br>
{% if user.status=="админ" %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/generate_code/участник" class="btn btn-primary">Участник</a>
    <a href="/generate_code/преподаватель" class="btn btn-primary">Преподаватель</a>
    <a href="/generate_code/жюри" class="btn btn-primary">Жюри</a>
    <a href="/generate_code/администратор" class="btn btn-primary">Администратор</a>
</div>
{% elif user.status=="жюри" %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/generate_code/участник" class="btn btn-primary">Участник</a>
    <a href="/generate_code/преподаватель" class="btn btn-primary">Преподаватель</a>
    <a href="/generate_code/жюри" class="btn btn-primary">Жюри</a>
</div>
{% elif user.status=="преподаватель" %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/generate_code/участник" class="btn btn-primary">Участник</a>
    <a href="/generate_code/преподаватель" class="btn btn-primary">Преподаватель</a>
</div>
{% elif user.status=="участник" %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/generate_code/участник" class="btn btn-primary">Участник</a>
</div>
{% endif %}
{% set edit_profile_href = "/edit_profile/" + user.id|string %}
{% set email_reset_href = "/reset_email/"+user.id|string %}
<a class="btn btn-secondary" href={{ edit_profile_href }}>Редактировать профиль</a> <a class="btn btn-secondary" href={{ email_reset_href }}>Сменить почту</a>
{% else %}
{% set subscribe_href = "/subscribe/"+user.id|string+"/"+viewer.id|string %}
{% set reader_href = "/reader/"+user.id|string+"/"+viewer.id|string %}
<div>
    {% if viewer.subscribes and user.id in viewer.subscribes %}
    <button id="subscribebtn" class="btn btn-secondary">Подписаться</button>
    {% else %}
    <button id="subscribebtn" class="btn btn-outline-secondary">Подписаться</button>
    {% endif %}
    <script>
        var btn = document.getElementById("subscribebtn");
        btn.onclick = function(){ toread("subscribebtn", "{{ subscribe_href }}"); };
    </script>

    {% if user.readers and viewer.id in user.readers %}
    <button id="readerbtn" class="btn btn-secondary">Стать постоянным читателем</button>
    {% else %}
    <button id="readerbtn" class="btn btn-outline-secondary">Стать постоянным читателем</button>
    {% endif %}
    <script>
        var btn = document.getElementById("readerbtn");
        btn.onclick = function(){ toread("readerbtn", "{{ reader_href }}"); };
    </script>
</div>


{% endif %}
<div class="alert alert-secondary">Друзей: {{ friends }} Подписчиков: {{ subscribers }} Постоянных читателей: {{ readers
    }}
</div>
{% if user.status!="жюри" and user.status!="преподаватель" %}
<div class="alert alert-secondary">
    Рейтинг<br>
    Геометрия:
    <div class="progress" style="height: 40px;">
        {% if 0<=geom1 and geom1<10 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 10<=geom1 and geom1<30 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 30<=geom1 and geom1<50 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 50<=geom1 and geom1<70 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 70<=geom1 and geom1<90 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 90<=geom1 and geom1<100 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif geom1==100 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% endif %}
    </div>
    <br>
    Алгебра и ТЧ:
    <div class="progress" style="height: 40px;">
        {% if 0<=alg1 and alg1<10 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif 10<=alg1 and alg1<30 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif 30<=alg1 and alg1<50 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif 50<=alg1 and alg1<70 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ galg1 }}</font></div>
        {% elif 70<=alg1 and alg1<90 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif 90<=alg1 and alg1<100 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif alg1==100 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"
             aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% endif %}
    </div>
    <br>
    Комбинаторика:
    <div class="progress" style="height: 40px;">
        {% if 0<=comb1 and comb1<10 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 10<=comb1 and comb1<30 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 30<=comb1 and comb1<50 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 50<=comb1 and comb1<70 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 70<=comb1 and comb1<90 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 90<=comb1 and comb1<100 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif comb1==100 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% endif %}
    </div>
    <br>
</div>

{% endif %}
<div class="alert alert-dark">Публикации пользователя:
    {% for counter in range(publications|length) %}
    {% set publ = publications[counter] %}
    <div class="alert alert-dark">
        <div class="alert alert-secondary">
            {% if isinstance(publ, Post) %}
            <h2>{{with_cats_show(publ.title)|safe}}</h2>
            <hr>
            {% for users_file in publ.files %}
            {{ users_file|safe }}
            {% endfor %}
            <hr>
            <div>
                {{ with_cats_show(publ.content)|safe }}
            </div>
            <div>
                Запись опубликована пользователем:
                <a class="badge bg-light" style="margin-left:20px" href={{ publ.user.profile_href() }}><font size="3"
                                                                                                             color="blue">
                    {% if publ.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
                    {% endif %}
                    {% if publ.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20"
                                                                    height="20">
                    {% endif %}
                    {{ publ.user.name }}
                    {% if publ.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20"
                                                                    height="20">,
                    преподаватель
                    {% endif %}
                    {% if publ.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
                    {% endif %}
                </font></a>
            </div>
            {% set publ_href = "/post/"+publ.id|string %}
            {% set toread_href = "/addtoread/"+viewer.id|string+"/post/"+publ.id|string %}
            {% set toreadbtnid = "toreadbtn"+counter|string %}
            <div>
                <a href={{ publ_href }} target="_blank" class="btn btn-secondary">Смотреть комментарии</a>
                {% if viewer.toread and ("post "+publ.id|string) in viewer.toread %}
                    <button id={{ toreadbtnid }} class="btn btn-secondary">Отложить к прочтению</button>
                    <script>
                        btn = document.getElementById("{{toreadbtnid}}");
                        btn.onclick = function(){ toread("{{ toreadbtnid }}", "{{ toread_href }}"); };
                    </script>
                {% else %}
                    <button id={{ toreadbtnid }} class="btn btn-outline-secondary">Отложить к прочтению</button>
                    <script>
                        btn = document.getElementById("{{toreadbtnid}}");
                        btn.onclick = function(){ toread("{{ toreadbtnid }}", "{{ toread_href }}"); };
                    </script>
                {% endif %}
            </div>
            <div>Рейтинг: {{publ.rank}}</div>
            {% if viewer==publ.user %}
            {% set edit_href = "/edit_post/"+publ.id|string %}
            {% set delete_href = "/delete_post/"+publ.id|string %}
            <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
            {% if not publ.comments %}
            <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
            {% endif %}
            {% else %}
            {% set likehref = "/liked/"+viewer.id|string+"/post/"+publ.id|string %}
            {% set btnid = "#postbtn" + counter|string %}
            {% set imgid = "#postlikeimg" + counter|string %}
            <div class="alert alert-light">
                {% if publ.liked_by and viewer.id in publ.liked_by %}
                    <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
                    </button>
                    <script>
                    var btn1 = document.getElementById( "{{ btnid }}" );
                    btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
                    </script>
                {% else %}
                    <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
                    </button>
                    <script>
                    var btn1 = document.getElementById( "{{ btnid }}" );
                    btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
                    </script>
                {% endif %}
            </div>
            {% endif %}
            {% else %}
            Условие задачи:<br>
            <hr>
            {% for users_file in publ.files %}
            {{ users_file|safe }}
            {% endfor %}
            <hr>
            {{ with_cats_show(publ.content)|safe }}
            <hr>

            Опубликовано пользователем:
            <a class="badge bg-light" style="margin-left:20px" href={{ publ.user.profile_href() }}><font size="3"
                                                                                                         color="blue">
                {% if publ.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
                {% endif %}
                {% if publ.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
                {% endif %}
                {{ publ.user.name }}
                {% if publ.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
                преподаватель
                {% endif %}
                {% if publ.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
                {% endif %}
            </font></a>
            <div>
                {% set publ_href = "/problem/"+publ.id|string %}
                {% set toread_href = "/addtoread/"+viewer.id|string+"/problem/"+publ.id|string %}
                {% set toreadbtnid = "toreadbtn"+counter|string %}
                {% if publ.solutions %}
                <div>
                    <a href={{ publ_href }} target="_blank" class="btn btn-secondary">Смотреть комментарии и решения</a>
                    {% if viewer.toread and ("problem "+publ.id|string) in viewer.toread %}
                        <button id={{ toreadbtnid }} class="btn btn-secondary">Отложить к прочтению</button>
                        <script>
                            btn = document.getElementById("{{toreadbtnid}}");
                            btn.onclick = function(){ toread("{{ toreadbtnid }}", "{{ toread_href }}"); };
                        </script>
                    {% else %}
                        <button id={{ toreadbtnid }} class="btn btn-outline-secondary">Отложить к прочтению</button>
                        <script>
                            btn = document.getElementById("{{toreadbtnid}}");
                            btn.onclick = function(){ toread("{{ toreadbtnid }}", "{{ toread_href }}"); };
                        </script>
                    {% endif %}
                </div>
                {% else %}
                <div class="alert alert-warning">Внимание! У этой задачи пока нет решений. Первый, прикрепивший решение,
                    получит дополнительный рейтинг.
                </div>
                <div>
                    <a href={{ publ_href }} target="_blank" class="btn btn-secondary">Смотреть комментарии</a>
                    {% if viewer.toread and ("problem "+publ.id|string) in viewer.toread %}
                        <button id={{ toreadbtnid }} class="btn btn-secondary">Отложить к прочтению</button>
                        <script>
                            btn = document.getElementById("{{toreadbtnid}}");
                            btn.onclick = function(){ toread("{{ toreadbtnid }}", "{{ toread_href }}"); };
                        </script>
                    {% else %}
                        <button id={{ toreadbtnid }} class="btn btn-outline-secondary">Отложить к прочтению</button>
                        <script>
                            btn = document.getElementById("{{toreadbtnid}}");
                            btn.onclick = function(){ toread("{{ toreadbtnid }}", "{{ toread_href }}"); };
                        </script>
                    {% endif %}
                </div>
                <div>Рейтинг: {{publ.rank}}</div>
                {% endif %}
                {% if viewer==publ.user %}
                {% set edit_href = "/edit_problem/"+publ.id|string %}
                {% set delete_href = "/delete_problem/"+publ.id|string %}
                <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
                {% if not publ.comments and not publ.solutions %}
                <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
                {% endif %}
                {% else %}
                {% set likehref = "/liked/"+viewer.id|string+"/problem/"+publ.id|string %}
                {% set btnid = "#problembtn" + counter|string %}
                {% set imgid = "#problemlikeimg" + counter|string %}
                <div class="alert alert-light">
                    {% if publ.liked_by and viewer.id in publ.liked_by %}
                        <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
                        </button>
                        <script>
                        var btn1 = document.getElementById( "{{ btnid }}" );
                        btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
                        </script>
                    {% else %}
                        <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
                        </button>
                        <script>
                        var btn1 = document.getElementById( "{{ btnid }}" );
                        btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
                        </script>
                    {% endif %}
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}