{% extends "base.html" %}

{% block content %}
<div class="alert alert-secondary"><font size="5">
    {% if user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
    {% endif %}
    {% if user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
    {% endif %}
    {{ user.name }}
    {% if user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">, преподаватель
    {% endif %}
    {% if user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
    {% endif %}
    {% if viewer.id==user.id and user.status=="участник" %}, участник
    {% endif %}
    {% if viewer.id==user.id and user.status=="админ" %}, администратор
    {% endif %}
</font></div>
{% if user.about %}
<div class="alert alert-secondary">Информация о себе <br> {{ user.about }}</div>
{% endif %}
{% if viewer.id==user.id %}
Сгенерировать код доступа для других участников<br>
{% if user.status=="админ" %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/generate_code/участник" class="btn btn-primary">Участник</a>
    <a href="/generate_code/преподаватель" class="btn btn-primary">Преподаватель</a>
    <a href="/generate_code/жюри" class="btn btn-primary">Жюри</a>
    <a href="/generate_code/администратор" class="btn btn-primary">Администратор</a>
</div>
{% elif user.status=="жюри" %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/generate_code/участник" class="btn btn-primary">Участник</a>
    <a href="/generate_code/преподаватель" class="btn btn-primary">Преподаватель</a>
    <a href="/generate_code/жюри" class="btn btn-primary">Жюри</a>
</div>
{% elif user.status=="преподаватель" %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/generate_code/участник" class="btn btn-primary">Участник</a>
    <a href="/generate_code/преподаватель" class="btn btn-primary">Преподаватель</a>
</div>
{% elif user.status=="участник" %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/generate_code/участник" class="btn btn-primary">Участник</a>
</div>
{% endif %}
{% endif %}
<div class="alert alert-secondary">Друзей: {{ friends }} Подписчиков: {{ subscribers }} Постоянных читателей: {{ readers
    }}
</div>
{% if user.status!="жюри" and user.status!="преподаватель" %}
<div class="alert alert-secondary">
    Рейтинг по составлению задач<br>
    Геометрия:
    <div class="progress" style="height: 40px;">
        {% if 0<=geom1 and geom1<10 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 10<=geom1 and geom1<30 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 30<=geom1 and geom1<50 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 50<=geom1 and geom1<70 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 70<=geom1 and geom1<90 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif 90<=geom1 and geom1<100 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% elif geom1==100 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom1 }}</font></div>
        {% endif %}
    </div>
    <br>
    Алгебра и ТЧ:
    <div class="progress" style="height: 40px;">
        {% if 0<=alg1 and alg1<10 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif 10<=alg1 and alg1<30 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif 30<=alg1 and alg1<50 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif 50<=alg1 and alg1<70 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ galg1 }}</font></div>
        {% elif 70<=alg1 and alg1<90 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif 90<=alg1 and alg1<100 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% elif alg1==100 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"
             aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg1 }}</font></div>
        {% endif %}
    </div>
    <br>
    Комбинаторика:
    <div class="progress" style="height: 40px;">
        {% if 0<=comb1 and comb1<10 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 10<=comb1 and comb1<30 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 30<=comb1 and comb1<50 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 50<=comb1 and comb1<70 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 70<=comb1 and comb1<90 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif 90<=comb1 and comb1<100 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% elif comb1==100 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb1 }}</font></div>
        {% endif %}
    </div>
    <br>
</div>
<div class="alert alert-secondary">
    Рейтинг по решению задач<br>
    Геометрия:
    <div class="progress" style="height: 40px;">
        {% if 0<=geom2 and geom2<10 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom2 }}</font></div>
        {% elif 10<=geom2 and geom2<30 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom2 }}</font></div>
        {% elif 30<=geom2 and geom2<50 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom2 }}</font></div>
        {% elif 50<=geom2 and geom2<70 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom2 }}</font></div>
        {% elif 70<=geom2 and geom2<90 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom2 }}</font></div>
        {% elif 90<=geom2 and geom2<100 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom2 }}</font></div>
        {% elif geom2==100 %}
        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ geom2 }}</font></div>
        {% endif %}
    </div>
    <br>
    Алгебра и ТЧ:
    <div class="progress" style="height: 40px;">
        {% if 0<=alg2 and alg2<10 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg2 }}</font></div>
        {% elif 10<=alg2 and alg2<30 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg2 }}</font></div>
        {% elif 30<=alg2 and alg2<50 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg2 }}</font></div>
        {% elif 50<=alg2 and alg2<70 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg2 }}</font></div>
        {% elif 70<=alg2 and alg2<90 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg2 }}</font></div>
        {% elif 90<=alg2 and alg2<100 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg2 }}</font></div>
        {% elif alg2==100 %}
        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"
             aria-valuemin="0"
             aria-valuemax="100"><font
                size="5"> {{ alg2 }}</font></div>
        {% endif %}
    </div>
    <br>
    Комбинаторика:
    <div class="progress" style="height: 40px;">
        {% if 0<=comb2 and comb2<10 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb2 }}</font></div>
        {% elif 10<=comb2 and comb2<30 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb2 }}</font></div>
        {% elif 30<=comb2 and comb2<50 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb2 }}</font></div>
        {% elif 50<=comb2 and comb2<70 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb2 }}</font></div>
        {% elif 70<=comb2 and comb2<90 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb2 }}</font></div>
        {% elif 90<=comb2 and comb2<100 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb2 }}</font></div>
        {% elif comb2==100 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"><font
                size="5">{{ comb2 }}</font></div>
        {% endif %}
    </div>
    <br>
</div>
{% endif %}
<div class="alert alert-dark">Публикации пользователя:
    ЗДЕСЬ ОНИ ДОЛЖНЫ БЫТЬ
</div>
{% endblock %}