{% include "solution_short.html" %}

{% set comformid = "commenttosolutionform"+solution.id|string %}
{% set comformidph = "#"+comformid %}
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target={{ comformidph }}
            aria-expanded="false" aria-controls={{ comformid }}>
        {{ comment_forms[i].content.label }}
    </button>
</p>
<div class="collapse" id={{ comformid }}>
    <form action="" method="post" enctype="multipart/form-data">
        {{ comment_forms[i].hidden_tag() }}
        <div>{{ comment_forms[i].submit(type="submit", class="btn btn-primary")
            }}{{ comment_forms[i].content(class="form-control") }}
        </div>
        {% for error in comment_forms[i].content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>{{ comment_forms[i].latex(class="btn btn-secondary") }}</p>
        <p>К сожалению, сейчас файлы можно прикреплять только, при редактировании.</p>
    </form>
</div>
<hr>

{% if solution.comments %}
<div class="alert alert-dark">
{% for counter2 in range(solution.comments|length) %}
{% set comment = solution.comments[counter2] %}
{% include "comment.html" %}
{% endfor %}
</div>
{% endif %}