{% extends "base.html" %}

{% block content %}
{% for counter in range(publications|length) %}
{% set publ = publications[counter] %}
<div class="alert alert-dark">
        <div class="alert alert-light">
            {% if isinstance(publ, Post) %}
            {% with post=publ %}
            {% include "post_short.html" %}
            <a href="/post/{{ post.id }}" class="btn btn-primary">Смотреть комментарии</a>
            {% endwith %}
            {% endif %}
            {% if isinstance(publ, Problem) %}
            {% with problem=publ %}
            {% include "problem_short.html" %}
            {% if problem.solutions %}
            <a href="/problem/{{ problem.id }}" class="btn btn-primary">Смотреть комментарии и решения</a>
            {% else %}
            <a href="/problem/{{ problem.id }}" class="btn btn-primary">Смотреть комментарии</a>
            {% endif %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}