{% extends "base.html" %}

{% block content %}
{% for counter in range(publications|length) %}
{% set publ = publications[counter] %}
<div class="alert alert-dark">
    <div class="alert alert-secondary">
        {% if isinstance(publ, Post) %}
        <h2>{{with_cats_show(publ.title)|safe}}</h2>
        <hr>
        {% for users_file in publ.files %}
        {{ users_file|safe }}
        {% endfor %}
        <hr>
        <div>
            {{ with_cats_show(publ.content)|safe }}
        </div>
        <div>
            Запись опубликована пользователем:
            <a class="badge bg-light" style="margin-left:20px" href={{ publ.user.profile_href() }}><font size="3"
                                                                                                         color="blue">
                {% if publ.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
                {% endif %}
                {% if publ.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
                {% endif %}
                {{ publ.user.name }}
                {% if publ.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
                преподаватель
                {% endif %}
                {% if publ.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
                {% endif %}
            </font></a>
        </div>
        {% set publ_href = "/post/"+publ.id|string %}
        {% set toread_href = "/addtoread/"+viewer.id|string+"/post/"+publ.id|string %}
        <div><a href={{ publ_href }} target="_blank" class="btn btn-secondary">Смотреть комментарии</a> <a
                href={{ toread_href }} target="_blank" class="btn btn-outline-secondary">Убрать из отложенных</a></div>
        <div>Рейтинг: {{publ.rank}}</div>
        {% if viewer==publ.user %}
        {% set edit_href = "/edit_post/"+publ.id|string %}
        {% set delete_href = "/delete_post/"+publ.id|string %}
        <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
        {% if not publ.comments %}
        <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
        {% endif %}
        {% else %}
        {% set likehref = "/liked/"+viewer.id|string+"/post/"+publ.id|string %}
        {% set btnid = "#postbtn" + counter|string %}
        {% set imgid = "#postlikeimg" + counter|string %}
        <div class="alert alert-light">
            {{ publ.rank }}
            {% if publ.liked_by and viewer.id in publ.liked_by %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
            </button>
            <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% else %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
            </button>
            <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% endif %}
        </div>
        {% endif %}
        {% else %}
        Условие задачи:<br>
        <hr>
        {% for users_file in publ.files %}
        {{ users_file|safe }}
        {% endfor %}
        <hr>
        {{ with_cats_show(publ.content)|safe }}
        <hr>

        Опубликовано пользователем:
        <a class="badge bg-light" style="margin-left:20px" href={{ publ.user.profile_href() }}><font size="3"
                                                                                                     color="blue">
            {% if publ.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">
            {% endif %}
            {% if publ.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">
            {% endif %}
            {{ publ.user.name }}
            {% if publ.user.status=="преподаватель" %} <img src="/static/images/teacher.png" width="20" height="20">,
            преподаватель
            {% endif %}
            {% if publ.user.status=="жюри" %} <img src="/static/images/juri.png" width="20" height="20">, жюри
            {% endif %}
        </font></a>
        <div>
            {% set publ_href = "/problem/"+publ.id|string %}
            {% set toread_href = "/addtoread/"+viewer.id|string+"/problem/"+publ.id|string %}
            {% if publ.solutions %}
            <div><a href={{ publ_href }} target="_blank" class="btn btn-secondary">Смотреть комментарии и решения</a> <a
                    href={{ toread_href }} target="_blank" class="btn btn-outline-secondary">Убрать из отложенных</a>
            </div>
            {% else %}
            <div class="alert alert-warning">Внимание! У этой задачи пока нет решений. Первый, прикрепивший решение,
                получит дополнительный рейтинг.
            </div>
            <div><a href={{ publ_href }} target="_blank" class="btn btn-secondary">Смотреть комментарии</a> <a
                    href={{ toread_href }} target="_blank" class="btn btn-outline-secondary">Убрать из отложенных</a></div>
            {% endif %}
        </div>
        <div>Рейтинг: {{publ.rank}}</div>
        {% if viewer==publ.user %}
        {% set edit_href = "/edit_problem/"+publ.id|string %}
        {% set delete_href = "/delete_problem/"+publ.id|string %}
        <a class="btn btn-primary" href={{ edit_href }}>Редактировать</a>
        {% if not publ.comments and not publ.solutions %}
        <a class="btn btn-danger" href={{ delete_href }}>Удалить</a>
        {% endif %}
        {% else %}
        {% set likehref = "/liked/"+viewer.id|string+"/problem/"+publ.id|string %}
        {% set btnid = "#problembtn" + counter|string %}
        {% set imgid = "#problemlikeimg" + counter|string %}
        <div class="alert alert-light">
            {{ publ.rank }}
            {% if publ.liked_by and viewer.id in publ.liked_by %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeon.png" width="20">Нравится
            </button>
            <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% else %}
            <button class="btn btn-light" id={{ btnid }}><img id={{ imgid }} src="/static/images/likeoff.png" width="20">Нравится
            </button>
            <script>
            var btn1 = document.getElementById( "{{ btnid }}" );
            btn1.onclick = function(){ dolike("{{ imgid }}", "{{ likehref }}"); };
            </script>
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}