{% extends "base.html" %}

{% block content %}
{% for counter in range(publications|length) %}
{% set publ = publications[counter] %}
<div class="alert alert-dark">
    <div class="alert alert-secondary">
        {% if isinstance(publ, Solution) %}
        Ваше решение считают неверным
        {% for users_file in publ.files %}
        {{ users_file|safe }}
        {% endfor %}
        <hr>
        <div>
            {{ publ.content }}
        </div>
        {% set publ_href = "/problem/"+publ.problem.id|string %}
        <a href={{ publ_href }} target="_blank" class="btn btn-secondary">Перейти к задаче</a>

        {% elif isinstance(publ, Problem) %}
        Вашу задачу считают неверной
        <hr>
        {% for users_file in publ.files %}
        {{ users_file|safe }}
        {% endfor %}
        <hr>
        {{ publ.content }}
        <hr>

        {% set publ_href = "/problem/"+publ.id|string %}
        <a href={{ publ_href }} target="_blank" class="btn btn-secondary">Перейти к задаче</a>

        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}