{% extends "base.html" %}

{% block content %}
{% for counter in range(publications|length) %}
{% set publ = publications[counter] %}
<div class="alert alert-dark">
    <div class="alert alert-light">
        {% if isinstance(publ, Solution) %}
        Ваше решение считают неверным<br>
        {% with solution=publ %}
        {% include "solution_short.html" %}
        {% endwith %}
        <a href={{ publ_href }} target="_blank" class="btn btn-secondary">Перейти к задаче</a>

        {% elif isinstance(publ, Problem) %}
        Вашу задачу считают неверной<br>
        {% with problem=publ %}
        {% include "problem_short.html" %}
        {% endwith %}
        <a href={{ publ_href }} target="_blank" class="btn btn-secondary">Перейти к задаче</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}